html{
    box-sizing: border-box;
}
body{
    margin: 0%;
    height: 100%;
}
.banking-grid{
    display: grid;
    grid-template-areas: "header","main","footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100vh;
}

header{
    grid-area: 'header';
    background-color:#203040;
    color: #ffffff;
    font-size: 3rem;
    font-style: Arial;
}
main{
    grid-area: 'main';
}
footer{
    grid-area: 'footer';
    background-color: #203040;
    color: #ffffff;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    
}